:root {
  --low-padding--: 0.5em;
  --normal-padding--: 1em;
  --high-padding--: 1.5em;
  --container-GB-color--: blue;
  --container-color--: white;
  --small-container-color--: white;
  --box-shadow--: 0 0em 2em 0em gray;
  --border-radius-low--: 0.5rem;
  --border-radius-normal--: 1rem;
  --border-radius-medium--: 1.5rem;
  --border-radius-high--: 2rem;
  --color--: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* =========== Sidebar========== */

.system-container {
  display: grid;
  /* grid-template-columns: 300px auto 300px; */
}

.sidebar {
  height: 100vh;
  background-color: white;
  position: relative;
  border: 1px solid black;
  width: 300px;
}

.sidebar-content .list-item {
  display: flex;
  flex-direction: column;
}

.sidebar-cancel-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: blue;
  padding: 0.5rem;
  color: white;
  border-radius: 20%;
}

.sidebar-head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.logo-text {
  color: blue;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo-text span {
  color: black;
}
