:root {
  --low-padding--: 0.5em;
  --normal-padding--: 1em;
  --high-padding--: 1.5em;
  --container-GB-color--: blue;
  --container-Font-color--: white;
  --box-shadow--: 0 0em 5em 0em;
}

* {
  margin: 0;
  padding: 0;
  appearance: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ===========sidebar================= */

.sidebar-panel {
  background-color: #ecf0f1;
  width: 300px;
  padding: var(--normal-padding--);
  height: 100vh;
  box-shadow: var(--box-shadow--);
}

.sidebar-panel .sidebar-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.sidebar-header .logo-area {
  display: flex;
  align-items: center;
}

.sidebar {
  margin-top: 1.5rem;
  position: relative;
}

.sidebar .options {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: var(--high-padding--);
  position: relative;
  margin: 0.5rem;
}

.sidebar .options:hover,
.sidebar .options:focus {
  background-color: lightgray;
}

.sidebar .options:focus:before,
.sidebar .options:hover:before {
  content: "";
  height: 3px;
  background-color: var(--container-GB-color--);
  position: absolute;
  bottom: 0;
  animation: sidebar-line 300ms forwards;
}

@keyframes sidebar-line {
  from {
    width: 0;
  }

  to {
    width: 10%;
  }
}

.sidebar .options:last-child {
  margin-top: 2rem;
}

.sidebar .options > span {
  color: var(--container-GB-color--);
}
