:root {
  --low-padding--: 0.5em;
  --normal-padding--: 1em;
  --high-padding--: 1.5em;
  --container-GB-color--: blue;
  --container-color--: white;
  --small-container-color--: white;
  --box-shadow--: 0 0em 2em 0em gray;
  --border-radius-low--: 0.5rem;
  --border-radius-normal--: 1rem;
  --border-radius-medium--: 1.5rem;
  --border-radius-high--: 2rem;
  --color--: blue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecf0f1;
}

.software-container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

/* ===========sidebar================= */

.sidebar-panel {
  background-color: var(--small-container-color--);
  padding: var(--normal-padding--);
  height: 100vh;
}

.logo-full {
  color: blue;
}

.logo-half {
  color: black;
}

.sidebar-panel .sidebar-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  padding: var(--normal-padding--);
}

.sidebar-header .logo-area {
  display: flex;
  align-items: center;
}

.sidebar {
  margin-top: 1.5rem;
  position: relative;
}

.sidebar .options {
  position: relative;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: var(--high-padding--);
  margin: 0.5rem 0;
  align-items: center;
  outline: white;
}

.sidebar .options-hover:hover,
.sidebar .options-hover:focus {
  background-color: blue;
  color: white;
  border-radius: var(--border-radius-low--);
}

.sidebar .log-out-btn {
  position: absolute;
  bottom: -50%;
  width: 100%;
  padding: 1rem;
  align-items: center;
}

.sidebar .options > span {
  color: var(--container-GB-color--);
}

.close-btn {
  background-color: blue;
  padding: 0.2em;
  color: var(--container-color--);
  display: none;
}

.options .sidebar-icons {
  background-color: white;
  padding: 5px;
  border-radius: var(--border-radius-low--);
}

.earn-dollars::after {
  content: "2$";
  background-color: crimson;
  align-items: center;
  padding: 0.5rem;
  border-radius: 100%;
  color: white;
}

/* =========== main dashboard */

.main-dashboard {
  margin-top: 1rem;
}

.main-dashboard .main-dash-heading {
  font-size: 2rem;
  text-align: left;
  margin: 1rem;
  color: var(--color--);
}

.main-dashboard .user-data-container {
  background-color: var(--small-container-color--);
  margin: 1rem;
  padding: var(--high-padding--);
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.progress-circle {
  width: 150px;
  border-radius: 100%;
  height: 150px;
  border: 15px solid var(--container-GB-color--);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.icon-resize {
  font-size: 3rem;
}
